flows/Create_Customer_Automated_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_new_customer_email</name>
        <label>Send new customer email</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>Account.New_Customer_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_New_Customer_Email_Sent_as_True</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create Customer Automated Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Customer Automated Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_New_Customer_Email_Sent_as_True</name>
        <label>Update New Customer Email Sent as True</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>New_Customer_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_new_customer_email</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.RecordTypeId}) &amp;&amp; ISPICKVAL({!$Record.Type}, &apos;Customer&apos;) &amp;&amp; NOT({!$Record.Subsidiary_Company__r.Disable_Prospect_Conversion_Email__c})</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
