flows/Retreive_Case_from_Source_to_Target.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Conditional</name>
        <label>Conditional</label>
        <locationX>183</locationX>
        <locationY>497</locationY>
        <defaultConnector>
            <targetReference>Conditional_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Subsidary_1_info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVendor.ACVID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subsidary_creation</targetReference>
            </connector>
            <label>Subsidary 1 info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Conditional_2</name>
        <label>Conditional 2</label>
        <locationX>774</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>Contact_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Subsidary_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVendor.CCID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subsidary_creation_0</targetReference>
            </connector>
            <label>Subsidary 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Content_Document</name>
        <label>Content Document</label>
        <locationX>981</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>Create_File_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Content_Document121</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varCDL.ContentDocumentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Content Document</label>
        </rules>
    </decisions>
    <interviewLabel>Retreive Case from Source to Target {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vendor Request</label>
    <loops>
        <name>Loop_on_cdl</name>
        <label>Loop on cdl</label>
        <locationX>516</locationX>
        <locationY>98</locationY>
        <assignNextValueToReference>varCDL</assignNextValueToReference>
        <collectionReference>cdlList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Content_Document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Vendor_Retrival</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Contact_Record_Create</name>
        <label>Contact Record Create</label>
        <locationX>602</locationX>
        <locationY>627</locationY>
        <assignRecordIdToReference>varContactId</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>varVendor.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>varVendor.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varVendor.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>varVendor.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_File_Share</name>
        <label>Create File Share</label>
        <locationX>609</locationX>
        <locationY>289</locationY>
        <assignRecordIdToReference>newShareID</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_on_cdl</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>varCDL.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <elementReference>varCDL.ShareType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <elementReference>varCDL.Visibility</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordCreates>
        <name>Subsidary_creation</name>
        <label>Subsidary creation</label>
        <locationX>520</locationX>
        <locationY>418</locationY>
        <assignRecordIdToReference>SubsidarCreated</assignRecordIdToReference>
        <connector>
            <targetReference>Conditional_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varVendor.ACVID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Term__c</field>
            <value>
                <elementReference>varVendor.Payment_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidiary_Company__c</field>
            <value>
                <elementReference>varVendor.Subsidiary_Company__c</elementReference>
            </value>
        </inputAssignments>
        <object>Subsidiary_Vendor__c</object>
    </recordCreates>
    <recordCreates>
        <name>Subsidary_creation_0</name>
        <label>Subsidary creation</label>
        <locationX>1094</locationX>
        <locationY>521</locationY>
        <assignRecordIdToReference>SubsidarCreated</assignRecordIdToReference>
        <connector>
            <targetReference>Contact_Record_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varVendor.CCID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Term__c</field>
            <value>
                <elementReference>varVendor.Payment_Term_CCID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidiary_Company__c</field>
            <value>
                <elementReference>varVendor.Subsidiary_Company_2__c</elementReference>
            </value>
        </inputAssignments>
        <object>Subsidiary_Vendor__c</object>
    </recordCreates>
    <recordLookups>
        <name>Retrieve_the_file_list_from_Src</name>
        <label>Retrieve the file list from Src</label>
        <locationX>135</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_cdl</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVendorId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>cdlList</outputReference>
        <queriedFields>ContentDocumentId</queriedFields>
        <queriedFields>LinkedEntityId</queriedFields>
        <queriedFields>ShareType</queriedFields>
        <queriedFields>Visibility</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Vendor_Retrival</name>
        <label>Vendor Retrival</label>
        <locationX>184</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conditional</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVendorId</elementReference>
            </value>
        </filters>
        <object>Vendor_Request__c</object>
        <outputAssignments>
            <assignToReference>varVendor.ACVID__c</assignToReference>
            <field>ACVID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.CCID__c</assignToReference>
            <field>CCID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.Certificate_of_Insurance__c</assignToReference>
            <field>Certificate_of_Insurance__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.Email__c</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.FirstName__c</assignToReference>
            <field>FirstName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.LastName__c</assignToReference>
            <field>LastName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.Payment_Term_CCID__c</assignToReference>
            <field>Payment_Term_CCID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.Payment_Term__c</assignToReference>
            <field>Payment_Term__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.Phone__c</assignToReference>
            <field>Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.Remitance_Address__c</assignToReference>
            <field>Remitance_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.Remittance_City__c</assignToReference>
            <field>Remittance_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.Remittance_Country__c</assignToReference>
            <field>Remittance_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.Remittance_State__c</assignToReference>
            <field>Remittance_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.Remittance_Zip__c</assignToReference>
            <field>Remittance_Zip__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.Subsidiary_Company_2__c</assignToReference>
            <field>Subsidiary_Company_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.Subsidiary_Company__c</assignToReference>
            <field>Subsidiary_Company__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVendor.Subsidiary_Company__c</assignToReference>
            <field>Subsidiary_Company__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Retrieve_the_file_list_from_Src</startElementReference>
    <status>Active</status>
    <variables>
        <name>cdlList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>newShareID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubsidarCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0012F00000HRWqr</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCDL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVendor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Vendor_Request__c</objectType>
    </variables>
    <variables>
        <name>varVendorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a1G2F000000YrrC</stringValue>
        </value>
    </variables>
</Flow>
