flows/S_C_Total.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Sum_TMs</name>
        <label>Sum TMs</label>
        <locationX>485</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>TotalTMs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TM.Total_Amount_Incl_Tax_FF__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countTMs</targetReference>
        </connector>
    </assignments>
    <interviewLabel>S/C Total {!$Flow.CurrentDateTime}</interviewLabel>
    <label>S/C Total</label>
    <loops>
        <name>countTMs</name>
        <label>countTMs</label>
        <locationX>228</locationX>
        <locationY>226</locationY>
        <assignNextValueToReference>TM</assignNextValueToReference>
        <collectionReference>curAccountTMs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_TMs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_TMs</name>
        <label>Get TMs</label>
        <locationX>230</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countTMs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bill_to_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>SC__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TM__c</object>
        <outputReference>curAccountTMs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Amount_Incl_Tax_FF__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>244</locationX>
        <locationY>424</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ScheduledConfirmedTotal__c</field>
            <value>
                <elementReference>TotalTMs</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>32</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_TMs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>curAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curAccountTMs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TM__c</objectType>
    </variables>
    <variables>
        <name>TM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TM__c</objectType>
    </variables>
    <variables>
        <name>TotalInvoiceCount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalTMs</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
