flows/Verify_Account_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Verify Account Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Account Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a new Account Verified record with values from the screen</description>
        <name>Create_new_Account_Verified_record</name>
        <label>Create new Account Verified record</label>
        <locationX>528</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>thankyou</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>CurAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Information__c</field>
            <value>
                <elementReference>Billing_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Information__c</field>
            <value>
                <elementReference>Contact_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <object>Verify_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>thankyou</name>
        <label>thankyou</label>
        <locationX>360</locationX>
        <locationY>616</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displaythankyoutext</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Thank you for verifying your account information.👍&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DoneButton</name>
            <extensionName>c:VerifyCustomButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Users will use this screen to confirm they have validate Contact, Billing and Notes information</description>
        <name>Verify_Account_Screen_Flow</name>
        <label>Verify Account Screen Flow</label>
        <locationX>383</locationX>
        <locationY>78</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_new_Account_Verified_record</targetReference>
        </connector>
        <fields>
            <name>displaytext</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;✅ AE/PC please verify all account related information is up to date. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Information</name>
            <dataType>Boolean</dataType>
            <fieldText>📞Contact Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_Information</name>
            <dataType>Boolean</dataType>
            <fieldText>🗺Billing Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <dataType>Boolean</dataType>
            <fieldText>📝Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VerifyButton</name>
            <extensionName>c:VerifyCustomButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>38</locationX>
        <locationY>169</locationY>
        <connector>
            <targetReference>Verify_Account_Screen_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
